aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.5
DMXEnttecPro==0.4
docopt==0.6.2
idna==3.2
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.context==4.1.1
jaraco.functools==3.3.0
jaraco.logging==3.1.0
jaraco.stream==3.0.2
jaraco.text==3.5.1
mido==1.2.10
more-itertools==8.9.0
multidict==5.1.0
pyserial==3.5
python-rtmidi==1.4.9
pytz==2021.1
pyzmq==22.3.0
requests==2.26.0
tempora==4.1.1
twitchio==2.0.6
typing-extensions==3.10.0.2
urllib3==1.26.6
venusian==3.0.0
yarl==1.6.3
